# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
loglevel.log*

# Dependencies
node_modules/

# Production
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production
server/.env

# Database
server/database/*.db
server/database/*.db-shm
server/database/*.db-wal

# Backend
server/node_modules/
